{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Novo usuario - {{ block.super}}
{% endblock title %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
            <h1>Novo usuario</h1>
                <form action="" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.solicitante.id_for_label }}">TESTE</label>
                        {{ form.solicitante|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.usuario.id_for_label }}">Nome de usuario</label>
                        {{ form.usuarios|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">E-mail</label>
                        {{ form.email|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.senha.id_for_label }}">Senha</label>
                        {{ form.senha|add_class:"form-control"|attr:"type:senha" }}
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}