{% extends 'base.html' %}

{% block title %}

    Lista de Departamento - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Departamento</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'departamentos:add_departamento' %}">Cadastro de nova categoria</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descricao</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for departamento in departamentos %}
                        <tr>
                            <th scope="row">{{ departamento.id }}</th>
                            <td>{{ departamento.nome }}</td>
                            <td>{{ departamento.descricao }}</td>
                            <td>
                                <a href="{% url 'departamentos:edit_departamento' departamento.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'departamentos:delete_departamento' departamento.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}