{% extends 'base.html' %}

{% block title %}

    Lista de Atendimentos - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Atendimentos</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'atendimentos:add_atendimento' %}">Cadastro de novo atendimento</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Usuário</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for atendimento in atendimentos %}
                        <tr>
                            <th scope="row">{{ atendimento.id }}</th>
                            <td>{{ atendimento.data }}</td>
                            <td>{{ atendimento.hora }}</td>
                            <td>{{ atendimento.address }}</td>
                            <td>
                                {% for atendimento_user in atendimento_users %}
                                    {% if atendimento_user.atendimento_id == atendimento.id %}
                                        <li>{{ atendimento_user.usuario }}</li>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url 'atendimentos:edit_atendimento' atendimento.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'atendimentos:delete_atendimento' atendimento.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                            <td>   
                                 <a href="{% url 'orders:add_order' atendimento.id %}" class="btn btn-danger btn-sm ">Pedir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}