db.sqlite3
/__pycache__/*
/usuarios/__pycache__/*
/usuarios/migrations/*
/core/__pycache__/*
/core/migrations/*
/avaliacao/__pycache__/*
/avaliacao/migrations/*
/clients/__pycache__/*
/clients/migrations/*
/orders/__pycache__/*
/orders/migrations/*
